latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  /* width: 100%; */
  margin: 0;
	padding: 0;
}

.wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 89px;
  background-color: #2d303a;
  
}

/* .box {
  height: 89;
  position: absolute;
  top: 50%;
  margin: -50px 0 0 0;
} */

h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 25px;
  color: #ffffff;
  font-family: "Lato";
  font-weight: 700;
  text-align: left;
  vertical-align: middle;
  padding-top: 32px;
  /* top: 50%; */

}

.ye {
  color: #d9655f;
}

.header li {
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  /* color: #f06c64; */
  font-family: "Lato";
  font-weight: 700;
  text-align: left;
  padding: 30px;
}

/* .header__bottom { */
  /* width: 100%;
  height: 6px;
  background-color: #323746; */
}
/* a { */
  /* font-size: 25px;
  line-height: 6px;
  color: #ffffff;
  font-family: "Lato";
  font-weight: 700;
  text-align: left; */
}

/* .screens {
  height: 600px;
  background-color: #f06c64;
}

.screens_bottom {
  height: 15px;
  background-color: #ea676b;
}

.our__services {
  height: 495px;
  background-color: #f2f2f2;
}

.services_bottom {
  height: 6px;
  background-color: #ffffff;
} */