
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh50XSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh50XSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.header {
  width: 100%;
  height: 89px;
  background-color: #2d303a;
}

.header__items {
  display: flex;
  justify-content: space-between;
  width: 940px;
  height: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.box__name {
  height: 100%;
  width: 140px;
}

.header__name-logo {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.16px;
}

span {
  color: #f06c64;
}

.navigation {
  width: 380px;
  height: 100%;
}

.navigation .navigation__menu {
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
  list-style: none;
}

.navigation__menu--link {
  line-height: 68px;
  font-size: 12px;
  font-family: "Lato";
  color: #ffffff;
  /* font-weight: 700; */
  text-transform: uppercase;
  letter-spacing: -0.16px;
}

.navigation__menu--link:hover {
  color: #f06c64;
}

.navigation__menu--link span:hover {
  color: #ffffff;
}

.navigation__menu--item:not(:first-child)::before {
  content: ".";
  position: relative;
  bottom: 3px;
  left: -13px;
  font-weight: 400;
  font-size: 19px;
  color: #494e62;
}

.header__bottom {
  width: 100%;
  height: 6px;
  background-color: #323746;
} 


.container {
  width: 100%;
  height: 594px;
  background-color: #f06c64;
}

.slides {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 53px 40px 0 40px;
}

.slides__left {
  height: 27px;
  margin-top: 228px;
  padding: 0 0 0 2px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.slides__right {
  height: 27px;
  margin-top: 228px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.slides .slides__conten {
  width: 797px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.slides__conten--horizontal-phone {
  margin-top: 121px;
}

.screens_bottom {
  height: 6px;
  background-color: #ea676b;
}

.services {
  width: 100%;
  height: 495px;
  background-color: #f2f2f2;
}

.services .services__describe {
  width: 940px;
  margin: 0 auto;
  padding: 42px 40px 0 40px;
  letter-spacing: -0.26px
}

.services__describe--our-services {
  font-size: 30px;
  line-height: 16px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  padding-top: 3px;
}

#services__describe--our-services-text {
  width: 940px;
  height: 57px;
  margin-top: 28px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: justify;
  word-spacing: 1.78px;
}

.card__space {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  height: 223px;
  margin: 44px auto;
  background-color: #f2f2f2;
}

.card__section {
  display: flex;
  flex-flow: column wrap;
  width: 302px;
  height: 122px;

}
.card__section--icon {
  margin: 5px 0 0 1px;
}
.card__section--text {
  margin-left: 19px;
  
}
.card__section--name {
  font-size: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin: 1px 0 0 0;
  text-align: justify;
  letter-spacing: -0.16px;
  word-spacing: 0.85px;

}

.card__section--description {
  display: flex;
  width: 219px;
  height: 100%;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  margin: 8px 0 0 0;
  text-align: justify;
  line-height: 182%;
  overflow: hidden;
  /* letter-spacing: -0.36px; */
  letter-spacing: -0.05px;
}

.services__bottom {
  height: 5px;
  background-color: #ffffff;
}

.portfolio {
  width: 100%;
  height: 864px;
  background-color: #2d303a;
}

.portfolio__describe {
  width: 940px;
  margin: 0 auto;
  padding: 59px 40px 0 40px;
}


.portfolio__describe--Portfolio {
  font-size: 30px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin: 0;
  letter-spacing: -0.16px;
}

p#portfolio__describe--text {
  width: 940px;
  height: 20px;
  font-size: 18px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
  margin-top: 22px;
  margin-bottom: 10px;
}

.portfolio__navigatio {
  width: 288px;
  height: 100%;
}


.portfolio__navigation--menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 17px 0 17px 1px;
  padding: 0;
  height: 24px;
}

a {
  text-decoration: none;
}

.frame {
  position: middle;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #666d89;
  text-align: center;
  vertical-align: middle;
  line-height: 16px;
  
}

.frame-1 {
  position: middle;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #dedede;
  text-align: center;
  vertical-align: middle;
  line-height: 16px;
  
}

.portfolio__navigation--menu-link-1 {
  display: inline-block;
  font-size: 12px;
  color: #dedede;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  padding: 0 6px 0 7px;
  margin: auto 0;
}
.portfolio__navigation--menu-link-2 {
  display: inline-block;
  font-size: 12px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  padding: 0 6px 0 6.6px;
  margin: auto 0;
}

.portfolio__navigation--menu-link-3 {
  display: inline-block;
  font-size: 12px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  padding: 0 6px 0 4.5px;
  margin: auto 0;
}

.portfolio__navigation--menu-link-4 {
  display: inline-block;
  font-size: 12px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  padding: 0 5px 0 6px;
  margin: auto 0;
}


.funny__images {
  display: grid;
  grid-gap: 17px 20px;
  grid-template-columns: 220px 220px 220px 220px;
  width: 940px;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.portfolio__bottom {
  width: 100%;
  height: 5px;
  background-color: #323746;
  z-index: 2;
}

.about__content {
  width: 100%;
  height: 728px;
  background-color: #f2f2f2;
}

.about__us {
  width: 940px;
  margin: 0 auto;
  padding: 60px 40px 0 40px;
}


.about__us--describe-About {
  margin: 0;
  font-size: 30px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  letter-spacing: -0.16px;
}

.about__us--describe-text {
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
  text-align: justify;
  margin-top: 17px;
}

.about__us--team {
  display: grid;
  grid-column-gap: 19px;
  grid-template-columns: 300px 300px 302px;
  margin-top: 48px;
  justify-items: end;
}

.about__us--team-card {
  width: 300px;
  height: 443pxgi;
  overflow: hidden;
}

.card__title {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin-top: 14px;
  margin-bottom: 2px;
  letter-spacing: -0.20px;
  white-space: nowrap;
}

.card__desrciption {
  width: 300px;
  height: 54px;
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 12px;
  text-align: justify;
  word-spacing: -0.6px;
}

.card__social--media {
  margin-left: 1px;
  display: flex;
  justify-content: space-between;
  height: 32px;
  width: 152px;
}

.about__content--bottom {
  width: 100%;
  height: 6px;
  background-color: #ffffff;
}

.registration {
  display: block;
  width: auto;
  height: 648px;
  background-color: #f06c64;
}

.registration__content {
  width: 940px;
  height: 600px;
  margin: 0 auto;
  padding: 50px 40px 0 40px;
}

.registration__text {
  height: 112px;
}

.registration__text--Header {
  font-size: 30px;
  color: #f0d8d9;
  font: italic;
  font-weight: 900;
  text-align: left;
  margin: 9px 0;
  letter-spacing: -0.2px;
}

#registration__text--description {
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
  text-align: justify;
  margin-bottom: 30px;
}

.form {
  width: 940px;
  display: flex;
  margin-top: 45px;
  justify-content: space-between;
}

.name, .email, .subject {
  font-size: 14px;
  font-family: "Lato";
  width: 591px;
  height: 22px;
  line-height: 2px;
  border-radius: 5px;
  background-color: #d6564f;
  resize: none;
  outline: none;
  border: none;
  margin: 1px 0 15px 0;
  color: aliceblue;
  padding: 6px 14px 10px 14px;
}


.describe {
  font-size: 14px;
  font-family: "Lato";
  width: 591px;
  height: 188px;
  line-height: 22px;
  border-radius: 5px;
  background-color: #d6564f;
  resize: none;
  outline: none;
  border: none;
  margin: 1px 0 0 0;
  padding: 7px 14px;
  color: aliceblue;
}

.form__confirm {
  height: 38px;
  width: 80px;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  background-color: #d6564f;
  outline: none;
  border-color:  #666d89;
  font-size: 15px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  margin: 13px 0 0 0;
}

.form__confirm:hover {
  background-color: #2d303a;
  color: #f0d8d9;
  transition: 1s;
}

.name::placeholder, .email::placeholder, .subject::placeholder, .describe::placeholder {
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
}

.contact__infomation {
  height: 200px;
  width: 350px;
}

.contact__infomation--text {
  height: 135px;
  width: 100%;
}

.contact__infomation--text-header {
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin: 1px 0 0 0;
}

.contact__infomation--text-describe {
  width: 300px;
  height: 90px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  text-align: justify;
  letter-spacing: -0.1px;
  margin: 10px 0;
}

.contact__infomation--contacts {
  width: 150px;
  height: 130px;
  margin-top: 1px;

}

.contact__infomation--contacts a{
  font-size: 12px;
  line-height: 19px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
}

.icon_1 img{
  margin: 2px 13px 0 3px;
}

.icon_2 img{
  margin: 0 11px 0 1px;
}

.icon_3 img{
  margin-right: 11px;
}

.icon a{
  margin-bottom: 1px;
}

.bottom {
  width: 100%;
  height: 76px;
  background-color: #2d303a;
}

.bottom__information {
  display: flex;
  height: 32px;
  width: 940px;
  padding: 22px 40px 0 40px;
  margin: 0 auto;
  justify-content: space-between;
}

.copyright {
  margin-top: 6px;
  margin-left: 2px;
}

.bootom__social--media {
  display: flex;
  height: 32px;
  width: 152px;
  justify-content: space-between;
  cursor: pointer;
}

.registration__bottom {
  width: 100%;
  height: 6px;
  background-color: #ea676b;
}

.bootom__social--media-sircle {
  width: 30px;
  height: 30px;
  border-radius: 16px;
  background-color: #2d303a;
  border: 1px solid #666d89;
}

.bootom__social--media-object-1 {
  padding-left: 11px;
  padding-top: 8px;
  cursor: pointer;
}

.bootom__social--media-object-2 {
  padding-left: 7px;
  padding-top: 8px;
  cursor: pointer;
}

.bootom__social--media-object-3 {
  padding-left: 8px;
  padding-top: 9px;
  cursor: pointer;
}

.bootom__social--media-object-4 {
  padding-left: 8px;
  padding-top: 8px;
  cursor: pointer;
}

.shp0 {
  fill: #666d89;
}
.bootom__social--media-sircle:hover {
  background-color: #f0d8d9;
  transition: 0.5s;
} 

.name:hover, .email:hover, .subject:hover, .describe:hover {
  background-color: #2d303a;
  transition: 1s;
}

.name:hover::placeholder, .email:hover::placeholder, .subject:hover::placeholder, .describe:hover::placeholder {
  color: #f0d8d9;
  transition: 0.5s;
}

.name:focus, .email:focus, .subject:focus, .describe:focus {
  background-color: #2d303a;
  transition: 0.5s;
}

.email:valid, .name:valid {
  background-color: gold;
}

.copyright__text {
  height: 20px;
  font-size: 12px;
  color: #666d89;
  margin: 2px 0 0 0;
  letter-spacing: -0.15px;
}